body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
}
.emoji {
  width: 100px;
  height: 100px;
}

.navigation {
  list-style: none;
  text-align: center;
  max-width: 100%;
}
.navigation li {
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: space-around;
  text-align: center;
  margin-left: 20px;
  margin-right: 5%;
  width: 27%;
}

ul {
  background-color: #f2f2f2;
}
.navigation a {
  display: block;
  text-decoration: none;
}
.navigation a:hover {
  color: white;
  text-decoration: none;
}
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
@media (min-width: 1600px) {
  nav li {
    position: sticky;
  }
}
